/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #fff;
  color: #000;
  line-height: 1;
}

@font-face {
  font-family: 'SourceSansPro-Black';
  src: url("../fonts/SourceSansPro-Black.otf") format("opentype");
}

@font-face {
  font-family: 'SourceSansPro-BlackIt';
  src: url("../fonts/SourceSansPro-BlackIt.otf") format("opentype");
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("../fonts/SourceSansPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'SourceSansPro-BoldIt';
  src: url("../fonts/SourceSansPro-BoldIt.otf") format("opentype");
}

@font-face {
  font-family: 'SourceSansPro-ExtraLight';
  src: url("../fonts/SourceSansPro-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: 'SourceSansPro-ExtraLightIt';
  src: url("../fonts/SourceSansPro-ExtraLightIt.otf") format("opentype");
}

@font-face {
  font-family: 'SourceSansPro-It';
  src: url("../fonts/SourceSansPro-It.otf") format("opentype");
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url("../fonts/SourceSansPro-Light.otf") format("opentype");
}

@font-face {
  font-family: 'SourceSansPro-LightIt';
  src: url("../fonts/SourceSansPro-LightIt.otf") format("opentype");
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("../fonts/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'SourceSansPro-Semibold';
  src: url("../fonts/SourceSansPro-Semibold.otf") format("opentype");
}

@font-face {
  font-family: 'SourceSansPro-SemiboldIt';
  src: url("../fonts/SourceSansPro-SemiboldIt.otf") format("opentype");
}

header {
  height: 150px;
  width: 100%;
  padding: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  width: 203px;
  height: 39px;
}

header .logo img {
  width: 100%;
  height: 100%;
}

header .menu-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .menu-toggle .icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  -webkit-transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  background-color: #47bcc3;
}

header .menu-toggle:focus {
  outline: none;
}

header .nav {
  position: fixed;
  top: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

header .nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav .menu-nav__item.active a::after {
  width: 40%;
}

header .nav .menu-nav__item {
  padding: 2vh 2vw;
}

header .nav .menu-nav__item a {
  color: #000;
  font-size: 20px;
  font-family: 'SourceSansPro-ExtraLight';
}

header .nav .menu-nav__item a::after {
  content: '';
  display: block;
  width: 0;
  height: 5px;
  background: #47bcc3;
  -webkit-transition: width .3s;
  transition: width .3s;
  position: relative;
  top: 5px;
}

header .nav .menu-nav__item a:hover::after {
  width: 80%;
}

header.opened .menu-toggle .icon-bar:first-child,
header.opened .menu-toggle .icon-bar:last-child {
  position: absolute;
  width: 30px;
}

header.opened .menu-toggle .icon-bar:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header.opened .menu-toggle .icon-bar:nth-child(2) {
  opacity: 0;
}

header.opened .menu-toggle .icon-bar:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header.opened .nav {
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 600px) {
  header .menu-toggle {
    display: none;
  }
  header .nav {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }
  header .nav .menu-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto 20%;
      grid-template-columns: 20% auto 20%;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: calc(100vh - 150px);
  max-width: 100%;
  padding-bottom: 50px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-items: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  font-family: 'SourceSansPro-Light';
}

.about__content h2 {
  font-size: 4rem;
  padding: 10px;
  line-height: 1.5;
}

.about__content h2 .typed {
  color: #47bcc3;
  font-family: 'SourceSansPro-Bold';
}

.about__content p {
  padding: 10px 10px 100px 10px;
  line-height: 1.5;
  font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
  .about__content h2 {
    font-size: 1.8rem;
    height: 150px;
  }
  .about__content h2.next {
    display: block;
  }
  .about__content p {
    font-size: 1.2rem;
  }
}

.arrow-link {
  position: relative;
}

.arrow-down-circle {
  border: 2px solid #47bcc3;
  border-radius: 50%;
  border-top-color: transparent;
  width: 100px;
  height: 100px;
  background-color: transparent;
  overflow: hidden;
}

.arrow {
  position: absolute;
  bottom: 20px;
  left: 38px;
  pointer-events: none;
}

a:hover .arrow-down-circle {
  -webkit-animation: spin 1s forwards;
          animation: spin 1s forwards;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

a:hover .arrow {
  -webkit-animation: 1s move-down 1s forwards;
          animation: 1s move-down 1s forwards;
}

@-webkit-keyframes move-down {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
  }
}

@keyframes move-down {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
  }
}

.case-study {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 70% 15%;
      grid-template-columns: 15% 70% 15%;
  background-color: #f9f9f9;
  padding: 2%;
}

.case-study__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: inherit;
}

.case-study__content .case-study__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: 'SourceSansPro-Bold';
}

.case-study__content .case-study__text h2 {
  font-size: 4rem;
}

.case-study__content .case-study__text h3 {
  padding: 5px 0 15px 0;
  font-size: 1.5rem;
}

.case-study__content .case-study__text p {
  font-size: 1.5rem;
  font-family: 'SourceSansPro-Light';
  padding-bottom: 50px;
}

.case-study__content .case-study__text.right {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.case-study__content .case-study__text.right .arrow-link {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.case-study__content .case-study__image {
  text-align: center;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .case-study {
    -ms-grid-columns: 5% auto 5%;
        grid-template-columns: 5% auto 5%;
  }
}

@media screen and (max-width: 768px) {
  .case-study__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .case-study__content .case-study__text h2 {
    font-size: 1.8rem;
  }
  .case-study__content .case-study__text p {
    font-size: 1.2rem;
  }
  .case-study__content .case-study__text a {
    padding-bottom: 20px;
  }
  .case-study__content .case-study__image {
    padding: 20px;
  }
  .case-study__content .case-study__image img {
    width: 80%;
  }
}

.case-study-circle {
  position: relative;
  border: 2px solid #47bcc3;
  border-radius: 50%;
  border-left-color: transparent;
  width: 100px;
  height: 100px;
}

.case-study-circle.left {
  border-left-color: #47bcc3;
  border-right-color: transparent;
}

.right-arrow {
  position: absolute;
  left: 20px;
  top: 40px;
}

.circle-text {
  color: #000;
  white-space: nowrap;
  position: absolute;
  left: 120px;
  top: 38px;
  pointer-events: none;
}

.circle-text.left {
  left: -170px;
  top: 38px;
}

a:hover .case-study-circle {
  -webkit-animation: spin 1s forwards;
          animation: spin 1s forwards;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

a:hover .right-arrow {
  -webkit-animation: 1s move-right 1s forwards;
          animation: 1s move-right 1s forwards;
}

@-webkit-keyframes move-right {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(160px);
            transform: translateX(160px);
  }
}

@keyframes move-right {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(160px);
            transform: translateX(160px);
  }
}

a:hover .right-arrow.left {
  -webkit-animation-name: move-left;
          animation-name: move-left;
}

@-webkit-keyframes move-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-170px);
            transform: translateX(-170px);
  }
}

@keyframes move-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-170px);
            transform: translateX(-170px);
  }
}

a:hover .circle-text {
  -webkit-animation: 2s text-right forwards;
          animation: 2s text-right forwards;
}

@-webkit-keyframes text-right {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    opacity: 100;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@keyframes text-right {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    opacity: 100;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

a:hover .circle-text.left {
  -webkit-animation-name: text-left;
          animation-name: text-left;
}

@-webkit-keyframes text-left {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    opacity: 100;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@keyframes text-left {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    opacity: 100;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

.team {
  height: 100vh;
  width: 100%;
  background-image: url(../images/team.png);
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team h2 {
  font-family: 'SourceSansPro-Regular';
  font-size: 5rem;
  font-weight: bolder;
}

.team p {
  font-family: 'SourceSansPro-ExtraLight';
  font-size: 3rem;
  padding-bottom: 100px;
}

@media screen and (max-width: 700px) {
  .team h2 {
    font-size: 2.4rem;
  }
  .team p {
    font-size: 1.2rem;
  }
}

.contact {
  background-color: #f9f9f9;
  width: 100%;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.contact__header {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.contact__header h2 {
  font-family: 'SourceSansPro-Regular';
  font-size: 4rem;
  font-weight: bolder;
}

.contact__header p {
  padding: 5px;
  font-family: 'SourceSansPro-ExtraLight';
  font-size: 1.5rem;
}

.contact__header a {
  font-family: 'SourceSansPro-Light';
  color: #000;
  font-size: 1.2rem;
  margin-top: 5vh;
  margin: 50px auto;
  padding: 10px;
  cursor: default;
}

.contact__header a .shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 12px;
  fill: transparent;
  stroke: #47bcc3;
  border-bottom: 5px solid #47bcc3;
  -webkit-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.contact__header a .text {
  font-size: 22px;
  line-height: 32px;
  color: #000;
  top: -48px;
  position: relative;
}

.contact__header a .svg-wrapper:hover .shape {
  stroke-width: 4px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.contact__icons {
  height: 50%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  font-family: 'SourceSansPro-ExtraLight';
  font-size: 1.2rem;
  padding-top: 50px;
}

.contact__icons .contact__phone {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 50px;
}

.contact__icons .contact__phone img {
  width: 100px;
  height: 100px;
}

.contact__icons .contact__phone p {
  padding-top: 20px;
  text-align: center;
}

.contact__icons .contact__mail {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 50px;
}

.contact__icons .contact__mail img {
  width: 120px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.contact__icons .contact__mail p {
  padding-top: 20px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .contact {
    padding: 40px 0;
  }
  .contact__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
  }
  .contact__icons .contact__mail {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .contact__icons .contact__phone {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .contact h2 {
    font-size: 2.4rem;
  }
  .contact p {
    font-size: 1.2rem;
    padding-top: 20px;
  }
}

footer {
  min-height: 200px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer > * {
  margin: 50px;
}

footer .footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__text a {
  color: white;
  padding: 10px;
  font-family: 'SourceSansPro-Light';
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .footer__text a:hover {
  color: #47bcc3;
}

footer .footer__social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__social-media-icons .hexagon {
  width: 30px;
  height: 20px;
  background: #fff;
  text-align: center;
  position: relative;
  margin: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .footer__social-media-icons .hexagon:before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 7px solid #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .footer__social-media-icons .hexagon:after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 7px solid #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .footer__social-media-icons a {
  color: #000;
  font-size: 17px;
}

footer .footer__social-media-icons .hexagon:hover {
  background: #47bcc3;
}

footer .footer__social-media-icons .hexagon:hover:after {
  border-top: 7px solid #47bcc3;
}

footer .footer__social-media-icons .hexagon:hover:before {
  border-bottom: 7px solid #47bcc3;
}
/*# sourceMappingURL=main.css.map */