.about {
    display: grid;
    grid-template-columns: 20% auto 20%;
    align-content: center;
    height: calc(100vh - 150px);

    &__content {
        grid-column: 2 / 3;
        font-family: 'SourceSansPro-Light';

        h2 {
            font-size: 4rem;
            padding: 10px;
            line-height: 1.5;

            .typed {
                color: #47bcc3;
                font-family: 'SourceSansPro-Bold';
            }
        }

        p {
            padding: 10px;
            line-height: 1.5;
            font-size: 1.5rem;
        }
    }
}
