.about {
    display: grid;
    grid-template-columns: 20% auto 20%;
    align-content: center;
    height: calc(100vh - 150px);

    &__content {
        grid-column: 2 / 3;
        font-family: 'SourceSansPro-Light';

        h2 {
            font-size: 4rem;
            padding: 10px;
            line-height: 1.5;

            .typed {
                color: #47bcc3;
                font-family: 'SourceSansPro-Bold';
            }
        }

        p {
            padding: 10px;
            line-height: 1.5;
            font-size: 1.5rem;
        }

        .arrow-down-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 2px solid #47bcc3;
            border-radius: 50%;
            border-top-color: transparent;
            width: 100px;
            height: 100px;
            margin-top: 7vh;
        }

        .arrow-down-circle:hover {
            animation: spin 1s forwards;

            img {
                rotate: 180deg;
                transition: rotate 1s ease-in-out;
                animation: 1s move-down 1s forwards;
            }

            @keyframes spin {
                from {transform:rotate(0deg);}
                to {transform:rotate(180deg);}
            }
    
            @keyframes spin-back {
                from {transform:rotate(0deg);}
                to {transform:rotate(-180deg);}
            }

            @keyframes move-down {
                from {transform: translateY(0);}
                to {transform: translateY(35px);}
            }
        }
    }
}
