.about {
    display: grid;
    grid-template-columns: 20% auto 20%;
    align-content: center;
    height: calc(100vh - 150px);

    &__content {
        grid-column: 2 / 3;
        font-family: 'SourceSansPro-Light';

        h2 {
            font-size: 4rem;
            padding: 10px;
            line-height: 1.5;

            .hidden::after {
                content: '';
            }

            .difference::after {
                content: 'różnica';
            }
            
            .typed {
                color: #47bcc3;
                font-family: 'SourceSansPro-Bold';
            }
        }

        h2:hover {
            text-transform: lowercase;

            .hidden::after {
                animation: changetext 2s;
                animation-fill-mode: forwards;
                text-transform: initial;
            }

            .difference::after {
                animation: changeDiff 2s;
                animation-fill-mode: forwards;
            }
        }

        @keyframes changeDiff {
            0% {
                content: 'przewaga';
                opacity: 0;
            }
            100% {
                content: 'przewaga';
                opacity: 1;
            }
        }

        @keyframes changetext {
            0% {
                content: 'Z nami ';
                opacity: 0;
            }
            100% {
                content: 'Z nami ';
                opacity: 1;
            }
        }

        p {
            padding: 10px;
            line-height: 1.5;
            font-size: 1.5rem;
        }

        .arrow-down-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 2px solid #47bcc3;
            border-radius: 50%;
            border-top-color: transparent;
            rotate: 30deg;
            width: 100px;
            height: 100px;
            margin-top: 7vh;
            overflow: hidden;

            img {
                rotate: -30deg;
            }
        }
    }
}
