.arrow-link {
    position: relative;
}

.arrow-down-circle {
    border: 2px solid #47bcc3;
    border-radius: 50%;
    border-top-color: transparent;
    width: 100px;
    height: 100px;
    background-color: transparent;
    overflow: hidden;
}

a:hover .arrow-down-circle {
    animation: spin 1s forwards;

    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(180deg);}
    }
}

.arrow {
    position: absolute;
    bottom: 20px;
    left: 38px;
    pointer-events: none;
}

a:hover .arrow {
    animation: 1s move-down 1s forwards;

    @keyframes move-down {
        from {transform: translateY(0);}
        to {transform: translateY(35px);}
    }
}