.case-link {
    width: 280px;
}

.case-study-circle {
    position: relative;
    border: 2px solid #47bcc3;
    border-radius: 50%;
    border-left-color: transparent;
    width: 100px;
    height: 100px;
}

.case-study-circle.left {
    border-left-color: #47bcc3;
    border-right-color: transparent;
}

.right-arrow {
    position: absolute;
    left: 20px;
    top: 40px;
}

.right-arrow.left {
    left: 200px;
}

.circle-text {
    color: $primary-color;
    white-space: nowrap;
    position: absolute;
    left: 120px;
    top: 38px;
    pointer-events: none;
}

.circle-text.left {
    left: 0px;
    top: 38px;
}

.case-study-circle-animation {
    animation: spin 1s forwards;

    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(180deg);}
    }
}

.right-arrow-animation {
    animation: 1s move-right 1s forwards;

    @keyframes move-right {
        from {transform: translateX(0);}
        to {transform: translateX(160px);}
    }
}

.right-arrow-animation.left {
    animation-name: move-left;
    
    @keyframes move-left {
        from {transform: translateX(0);}
        to {transform: translateX(-180px);}
    }
}

.circle-text-animation {
    animation: 2s text-right 1s forwards;

    @keyframes text-right {
        0% {
            opacity: 0;
            transform: translateX(-98px);
        }
        100% {
            opacity: 1;
            transform: translateX(-98px);
        }
    }
}

.circle-text-animation.left {
    animation-name: text-left;

    @keyframes text-left {
        0% {
            opacity: 0;
            transform: translateX(100px);
        }
        100% {
            opacity: 1;
            transform: translateX(100px);
        }
    }
}
