.case-study-circle {
    position: relative;
    border: 2px solid #47bcc3;
    border-radius: 50%;
    border-left-color: transparent;
    width: 100px;
    height: 100px;
}

.case-study-circle.left {
    border-left-color: #47bcc3;
    border-right-color: transparent;
}

.right-arrow {
    position: absolute;
    left: 20px;
    top: 40px;
}

.circle-text {
    color: $primary-color;
    white-space: nowrap;
    position: absolute;
    left: 120px;
    top: 38px;
}

.circle-text.left {
    left: -170px;
    top: 38px;
}

a:hover .case-study-circle {
    animation: spin 1s forwards;

    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(180deg);}
    }
}

a:hover .right-arrow {
    animation: 1s move-right 1s forwards;

    @keyframes move-right {
        from {transform: translateX(0);}
        to {transform: translateX(160px);}
    }
}

a:hover .right-arrow.left {
    animation-name: move-left;
    
    @keyframes move-left {
        from {transform: translateX(0);}
        to {transform: translateX(-170px);}
    }
}

a:hover .circle-text {
    animation: 2s text-right forwards;

    @keyframes text-right {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
            transform: translateX(-200px);
        }
        100% {
            opacity: 100;
            transform: translateX(-100px);
        }
    }
}

a:hover .circle-text.left {
    animation-name: text-left;

    @keyframes text-left {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
            transform: translateX(200px);
        }
        100% {
            opacity: 100;
            transform: translateX(100px);
        }
    }
}
