.case-study {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    background-color: #f9f9f9;
    padding: 2%;
}
  
.case-study__content {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: inherit;

    .case-study__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: 'SourceSansPro-Bold';
    
        h2 {
            font-size: 4rem;
        }
    
        h3 {
            padding: 5px 0 15px 0;
            font-size: 1.5rem;
        }
    
        p {
            font-size: 1.5rem;
            font-family: 'SourceSansPro-Light';
            padding-bottom: 50px;
            text-align: justify;
        }
    }

    .case-study__text.right {
        order: 2;
        
        .arrow-link {
            align-self: flex-end;
            display: flex;
            justify-content: flex-end;
        }
    }

    .case-study__image {
        text-align: center;

        img {
            transition: 1.5s linear;
            filter: blur(8px);
        }
    }
}

@media screen and (max-width: 1024px) {
    .case-study {
        grid-template-columns: 5% auto 5%;
    }
}

@media screen and (max-width: 768px) {
    .case-study__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .case-study__text {
            h2 {
                font-size: 1.8rem;
            }

            p {
                font-size: 1.2rem;
            }

            a {
                padding-bottom: 20px;
            }
        }

        .case-study__image {
            padding: 20px;

            img {
                width: 80%;
            }
        }
    }
}

.blur-1 {
    filter: blur(5px);
}

.blur-2 {
    filter: blur(10px);
}