.case-study {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #f9f9f9;
    max-width: 100%;
    padding: 2%;
}
  
.case-study__content {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2% 0;
    max-width: 100%;

    .case-study__text {
        padding: 0 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'SourceSansPro-Bold';
        max-width: 100%;
        overflow: hidden;
    
        h2 {
            font-size: 4rem;
        }
    
        h3 {
            padding-top: 5px;
            font-size: 1.5rem;
    
        }
    
        p {
            padding-top: 1rem;
            font-size: 1.5rem;
            font-family: 'SourceSansPro-Light';
        }
    
        a {
            display: flex;
            align-items: center;
    
            p {
                margin-bottom: 18px;
                margin-left: 10px;
            }
        }
    
        a.left {
            justify-content: end;
        }
    }
    
    .case-study__text-left {
        grid-column: 1 / 2;
    }
    
    .case-study__text-right {
        grid-column: 2 / 3;
    }

    .case-study__image {
        text-align: center;
        overflow: hidden;

        img {
            height: 100%;
        }
    }
    
    .case-study__image-right {
        grid-column: 2 / 3;
    }
    
    .case-study__image-left {
        grid-column: 1 / 2;
    }    
}

@media screen and (max-width: 760px) {
    .case-study__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .case-study__text {
            h2 {
                font-size: 1.8rem;
            }

            p {
                font-size: 1.2rem;
            }

            a {
                padding-bottom: 20px;
            }
        }

        .case-study__image {
            padding: 20px;

            img {
                width: 80%;
            }
        }
    }
}