.contact {
    background-color: #f9f9f9;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

    &__header {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h2 {
            font-family: 'SourceSansPro-Regular';
            font-size: 4rem;
            font-weight: bolder;
        }
    
        p {
            padding: 5px;
            font-family: 'SourceSansPro-ExtraLight';
            font-size: 1.5rem;
        }

        a {
            font-family: 'SourceSansPro-Light';
            color: $primary-color;
            font-size: 1.2rem;
            margin-top: 5vh;
            margin: 50px auto;
            padding: 10px;
            cursor: default;
              
            .shape {
                stroke-dasharray: 140 540;
                stroke-dashoffset: -474;
                stroke-width: 4px;
                fill: transparent;
                stroke: $secondary-color;
                border-bottom: 5px solid $secondary-color;
                transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
            }
            
            .text {
                font-size: 22px;
                line-height: 32px;
                color: $primary-color;
                top: -48px;
                position: relative;
            }
            
            .svg-wrapper:hover .shape {
                stroke-width: 4px;
                stroke-dashoffset: 0;
                stroke-dasharray: 760;
            }
              
        }
    }

    &__icons {
        height: 50%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-content: space-around;
        font-family: 'SourceSansPro-ExtraLight';
        font-size: 1.2rem;
        padding-top: 50px;

        .contact__phone {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 50px;

            img {
                width: 100px;
                height: 100px;
            }

            p {
                padding-top: 20px;
            }
        }

        .contact__mail {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: flex-start;
            margin-left: 50px;

            img {
                width: 120px;
                height: 100px;
                object-fit: contain;
            }

            p {
                padding-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    
    .contact {
        padding: 40px 0;

        &__icons {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;

            .contact__mail {
                width: 100%;
                align-items: center;
                margin: 0;
            }

            .contact__phone {
                width: 100%;
                align-items: center;
                margin: 0;
            }
        }

        h2 {
            font-size: 2.4rem;
        }

        p { 
            font-size: 1.2rem;
            padding-top: 20px;
        }
    }
}