$primary-color: #000;
$secondary-color: #47bcc3;

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('../fonts/SourceSansPro-Light.otf')
         format('opentype');
}

.signature-container {
    padding: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    letter-spacing: 0.1em;

    .logo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 2px solid $secondary-color;

        .logo-container {
            max-height: 20px;
            max-width: 100px;
            padding-right: 10px;
            
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    .description {
        padding-left: 10%;
        font-family: 'SourceSansPro-Light';
        font-size: 0.6rem;

        .header {
            h2 {
                font-weight: bolder;
            }
        }

        .contact {
            padding-top: 20px;
            display: flex;
            flex-direction: column;

            p {
                padding-top: 1px;
                .bolder {
                    font-weight: bolder;
                }
            }
        }

        .social-icons {
            display: flex;
            padding: 10px 0;
    
            .hexagon {
                width: 20px;
                height: 15px;
                text-align: center;
                position: relative;
                margin: 10px 20px 0 0;
                background: $primary-color;
                padding-left: 2px;
            }
    
            .hexagon:before {
                content: "";
                position: absolute;
                top: -5px;
                left: 0;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 5px solid #fff;
                transition: all 0.3s ease-in-out;
                border-bottom: 5px solid $primary-color;
            }
    
            .hexagon:after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 5px solid #fff;
                transition: all 0.3s ease-in-out;
                border-top: 5px solid $primary-color;
            }
    
            a {
                color: white;
                font-size: 12px;
            }
        }
    }
}

@media all and (min-width: 500px) {
    .signature-container {
        grid-template-columns: 200px auto;
    }
}

@media all and (min-width: 585px) {
    .signature-container {
        .description {
            padding-left: 30px;

            .contact {
                display: grid;
                grid-template-columns: 100px auto;
    
                .first-column {
                    grid-column: 1 / 2;
                }
    
                .second-column {
                    padding-left: 10px;
                    grid-column: 2 / 3;
                }
            }
        }
    }
}

@media all and (min-width: 610px) {
    .signature-container {
        .description {
            font-size: 0.7rem;
        }
    }
}

@media all and (min-width: 700px) {
    .signature-container {
        .description {
            font-size: 0.8rem;
        }
    }
}